.MarketSharePieChart {
    margin: 2rem;
    padding: 1rem;
    background-color: azure;
    border: 2px solid black;
    border-radius: 30px;
}

.TradeVolume24HRBarGraph {
    margin: 2.0rem;
    padding: 1.2rem;
    background-color: bisque;
    border: 2px solid black;
    border-radius: 30px;
}

.PercentChange1HRLineGraph {
    margin: 2.0rem;
    padding: 1.5rem;
    background-color: bisque;
    border: 2px solid black;
    border-radius: 30px;
}

.PercentChange24HRLineGraph {
    margin: 2.0rem;
    padding: 1.5rem;
    background-color: bisque;
    border: 2px solid black;
    border-radius: 30px;
}

.PercentChange7DAYLineGraph {
    margin: 2.0rem;
    padding: 1.5rem;
    background-color: bisque;
    border: 2px solid black;
    border-radius: 30px;
}