.Login {
  padding-top: 2rem;
  text-align: center;
  background-color: rgb(172, 203, 230);
}

.Header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  font-weight: 700;
  padding: 2.5rem;
}

.signIn {
  text-align: left;
  padding: 2rem;
}

#email {
  margin: 0.2rem;
  padding-right: 2rem;
}

#password {
    margin: 0.2rem;
    padding-right: 1rem;
}

#signInButton {
    text-align: center;
    padding-right: 1.1rem;
    padding-left: 1.1rem;
    margin-left: 4rem;
    margin-right: 2rem;
}

#signUpButton {
    padding-left: 1rem;
    padding-right: 1rem;
}

#uniqueEmailText {
    padding-top: 1rem;
}